<h1>All Cocktails</h1>

<%= link_to "Add a new Cocktail /", new_cocktail_path  %>
<%= link_to "Best Cocktails", top_reviews_path  %>
<br>
<% @cocktails.each do |cocktail| %>
  <%= cocktail.name %>
  <%= cocktail.reviews.average(:rating) %>
<br>
  <%= link_to "See more /", cocktail_path(cocktail) %>
  <%= link_to "delete /",
  cocktail_path(cocktail),
  method: :delete %>
  <%= link_to "edit",
  edit_cocktail_path(cocktail) %>
<br>
<% end %>

