<div class="banner">
  <div class="container">
    <h1>All Cocktails</h1>

  <%= link_to "Add a new Cocktail", new_cocktail_path, class: "btn btn-success" %>
  <%= link_to "Best Cocktails", top_reviews_path, class: "btn btn-success"  %>
  </div>
    <% @cocktails.each do |cocktail| %>
      <ul>
        <li><h2> <%= cocktail.name %> </h2></li>
        <li><%= cocktail.reviews.average(:rating) %></li>
        <%= link_to "See more", cocktail_path(cocktail), class: "btn btn-primary" %>
        <%= link_to "delete",
        cocktail_path(cocktail),
        method: :delete,
        class: "btn btn-success" %>
        </ul>
    <% end %>
</div>
