<div class="banner-show">
    <div class="container title-show">
        <h1><%= @cocktail.name %> </h1>
        <div>
          <p><%= @cocktail.reviews.average(:rating).floor %> <i class="fas fa-star"></i></p>
        </div>
      </div>
        <div class="title-show">
        <%= link_to "Back to list ", cocktails_path, class: "btn-card" %>
        <%= link_to 'Leave a review', new_cocktail_review_path(@cocktail), class: "btn-card" %>
        </div>

<div class="container">
  <div class="glass-effect">
  <table class="table table-striped table-sm">
    <thead>
      <h2> Ingredients</h2>
    </thead>
    <tbody>
    <% @cocktail.doses.each do |dose| %>
    <tr>
      <td><%= dose.description %></td>
      <td><%= dose.ingredient %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
  </div>

<div class="glass-effect">
  <th><h2>Steps to follow</th></h2>
    <% @cocktail.doses.each do |dose| %>
      <p> <%= dose.process %> </p>
    <% end %>
</div>

<div class="links-show title-show">
  <%= link_to "edit name",
  edit_cocktail_path(@cocktail), class: "btn-card" %>
  <%= link_to "edit Recipe",
  new_cocktail_dose_path(@cocktail), class: "btn-card" %>
  <%= link_to "delete",
  cocktail_path(@cocktail),
  method: :delete, class: "btn-card" %>
</div>

<div class="glass-effect">
<table class="table table-sm">
    <thead>
      <h2>Reviews</h2>
    </thead>
    <tbody>
    <% @cocktail.reviews.each do |review| %>
      <td><%= review.content %></td>
      <td><%= review.rating %>/5</td>
      <td><%= link_to "delete",
      review_path(review),
      method: :delete,
      data: { confirm: "are you sure?"} %></td>
    </tbody>
    <% end %>
</table>
</div>
</div>
</div>
</div>
