<div class="container">
  <div class="cards_show justify-content-between">
    <div class="show_cocktail_card">
     <img src="https://source.unsplash.com/collection/1990254/weekly" style="width: 100%; height: 60%;">
      <div class="container">
        <div class="cock_name">
        <h1><%= @cocktail.name %> </h1>
        </div>
        <div class="cock_rating">
          <%= @cocktail.reviews.average(:rating) %>
        </div>
        <div class="d-flex justify-content-between">
        <%= link_to "Back to list ", cocktails_path, class: "btn-card" %>
        <%= link_to 'Leave a review', new_cocktail_review_path(@cocktail), class: "btn-card" %>
        </div>
        </div>
  </div>

<div class="show_cocktail_card_info">
  <table class="table">
    <thead>
      <th>Ingredients</th>
    </thead>
    <tbody>
    <% @cocktail.doses.each do |dose| %>
      <td><%= dose.description %></td>
      <td><%= dose.ingredient %></td>
    </tbody>
  </table>
  <table class="table">
    <thead>
      <th>Steps</th>
    </thead>
    <tbody>
    <td><%= dose.process %></td>
    <% end %>
  </tbody>
  </table>
  </div>
</div>
  <div>
  <%= link_to "edit name",
  edit_cocktail_path(@cocktail) %>
  <%= link_to "edit Recipe",  new_cocktail_dose_path(@cocktail) %>
  <%= link_to "delete",
  cocktail_path(@cocktail),
  method: :delete %>

</div>
<table class="table">
    <thead>
      <th>Reviews</th>
    </thead>
    <tbody>
    <% @cocktail.reviews.each do |review| %>
      <td><%= review.content %></td>
      <td><%= review.rating %>/5</td>
      <td><%= link_to "delete",
      review_path(review),
      method: :delete,
      data: { confirm: "are you sure?"} %></td>
    </tbody>
    <% end %>
</table>
</div>

