<div class="background">
  <div class="banner-new">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center form-new">
        <h3>Add a new dose</h3>
        <div class="new-size">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.input :ingredient %>
          <%= f.input :process %>

          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
        <% end %>
    </div>
    </div>
  </div>
</div>
